@import '~office-ui-fabric-react/dist/sass/References.scss';

.btnFeedback {
  background: $ms-color-themePrimary;
  border: 1px solid white;
  color: #fff;
  font-size: small;  
  font-weight: 100 !important;

    &:hover {
      background-color: #f59e1e;
      color: #fff;
    }
    .msButtonLabel {
      font-weight: normal;
    }
}
.formModalContainer {
  padding: 14px;

  .formModalDesc {
    margin-bottom: 0;
  }
}
.formModalTitle {
  background: #F18C20;
  display: flex;
  
  .modalTitleText { 
    @include ms-fontColor-white;  
    align-self: center;
    flex-grow: 10;  
    font-size: $ms-font-size-l;
    padding-left: 14px;
  }
  .modalClose {
    padding:3px;
    text-align: right;

    button {
      &:hover {
        background-color: transparent !important;
      }
    }
    i {
      @include ms-fontColor-white;
        &:hover {
          background: none;
          font-weight: bold;
        }
    }
  }
}

.formModalButtons {
  padding: 0 14px 14px;

    .btnSubmit {
      margin-right: 3px;
    }

    .btnCancel {
      margin-left: 3px;
    }
}
.feedbackTY {
  .container {
    max-width: 700px;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  .row {
    @include ms-Grid-row;
    @include ms-fontColor-white;
    background-color: $ms-color-themeDark;
    padding: 20px;
  }

  .column {
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl8;
    @include ms-xlPush2;
    @include ms-lgPush1;
  }

  .title {
    @include ms-font-xl;
    @include ms-fontColor-white;
  }

  .subTitle {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .description {
    @include ms-font-l;
    @include ms-fontColor-white;
  }




  .button {
    // Our button
    text-decoration: none;
    height: 32px;

    // Primary Button
    min-width: 80px;
    background-color: $ms-color-themePrimary;
    border-color: $ms-color-themePrimary;
    color: $ms-color-white;

    // Basic Button
    outline: transparent;
    position: relative;
    font-family: "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: $ms-font-size-m;
    font-weight: $ms-font-weight-regular;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 0 16px;

    .label {
      font-weight: $ms-font-weight-semibold;
      font-size: $ms-font-size-m;
      height: 32px;
      line-height: 32px;
      margin: 0 4px;
      vertical-align: top;
      display: inline-block;
    }
  }
}
